/* Global element styles */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  background: url(images/art-artistic-beautiful-bloom-311458.jpg) no-repeat
    center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Global class sytles */

.App {
  display: flex;
  flex-direction: column;
  margin-top: 150px;
  align-items: center;
  height: 100vh;
}

/* App component ID styles */

/* Responsive Adjustments */
